  .carrito{
    display: none;
  }
  .carrito1{
    position: fixed;
    margin-left: 5%;
    margin-top: 5vh;
    width: 90%;
    height: 85vh;
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    animation: aparecer 0.3s;
  }
  .itemsCarrito{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    gap: 10px;
    align-items: center;
    padding: 10px;
    padding-bottom: 100px;
  }
  .desaparecer{
    animation: desaparecer 0.4s;
  }
  .baseCarrito{
    position: fixed;
    bottom: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
  }
  .baseCarrito, h2{
    color:white;
  }
  .cierreCarrito{
    margin-right: 10px;
    margin-top: 10px;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .botonCarrito{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .contadorCarrito{
    position: absolute;
    top: 0px;
    right: 13px;
  }
  .items{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
  }
  .eliminarItems{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
  }
  .imgArt{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 5px;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 70%;
  }
  .info, p{
    margin: 0;
  }
  #botonAgregar{
    padding: 2px;
    border-radius: 5px;
    transition: 0.2s;
  }
  #botonAgregar:hover{
    border-radius: 0px;
    color: white;
    background-color: black;
  }
  #botonAgregar:active{
    color: black;
    background-color: white;
    transition: 0.0s;
  }
  @keyframes aparecer{
    0%{
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }
  @keyframes desaparecer{
    0%{
      opacity: 100%;
    }
    100%{
      opacity: 0%;
    }
  }
  @media (min-width: 800px) {
    .botonCarrito{
      width: 35px;
      height: 35px;
      cursor: pointer;
    }
    .contadorCarrito{
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }
