*{
  font-family: 'Nouvelb', sans-serif;
margin: 0;
padding: 0;
}
@font-face {
  font-family: "Nouvel";
  src: url(NouvelR-Book.otf);
}
@font-face {
  font-family: "Nouvelb";
  src: url(NouvelR-Bold.otf);
}
@font-face {
  font-family: "Nouvelxb";
  src: url(NouvelR-Extrabold.otf);
}
header{
  display: flex;
  position: sticky;
  top: 0px;
  flex-direction: row;
  height: 40px;
  width: 100%;
  margin: 0;
  background-color: black;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
nav{
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  height: 35px;
  width: auto;
}
.logo{
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  height: 45px;
  width: auto;
}
.desplegable{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 2px;
  transform: translateX(-400px);
  transform-origin: 0 0;
  transition: 0.5s;
  background-color: black;
  z-index: 1;
  cursor: default;
}
.desplegable a:hover{
  filter: opacity(0.5);
}
nav:hover .desplegable{
  box-shadow: 100px 0px 1px 2000px rgba(0, 0, 0, 0.8);
  transform: translateX(0px);
  transform-origin: 0 0;
}
.gmap_canvas{
  overflow: hidden;
  background: none !important;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 150px;
}
header img{
  margin-left: 2%;
  margin-right: 2%;
  height: 70%;
}
.redes{
  display: flex;
  flex-direction: row;
  flex: 10px;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.redes img{
  height: 30px;
  width: 30px;
}
.bajoCabecera{
  position: sticky;
  top: 40px;
  height: auto;
  width: 100%;
  margin: 0;
  background-color: black;
  margin-bottom: 20px;
}
.cabecera img{
  display: flex;
  justify-items: center;
  margin: auto;
  width: 80%;
  animation: cab 3s forwards;
}
main{
  margin-bottom: 20px;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 10px;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px black;
  transition: 0.3s;
}
main img:hover{
  box-shadow: 0px 0px 10px 2px black;
}
.wap img{
  position: fixed;
  bottom: 25px;
  right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px black;
  animation: wap 2s infinite;
}
footer{
  background-color: black;
  border: 15px solid black;
  height: auto;
  width: auto;
  text-align: center;
}
h2{
  font-family: "Nouvelxb";
  font-size: 30px;
  color: white;
  text-align: center;
  animation: cab 4s forwards;
}
h3{
  font-family: "Nouvelxb";
  font-size: 30px;
  text-align: center;
}
h5{
  font-family: "Nouvelxb";
  background-color: rgb(243, 222, 53);
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}
ul{
  margin: 30px;
  margin-top: 0px;
  line-height: 1.3;
}
h4{
    margin: 30px;
    margin-top: 0px;
    line-height: 1.5;
}
a{
  color: white;
  text-decoration: none;
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
p{
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "nouvel";
}
@keyframes wap {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale(130%);
  }
  100%{
    transform: scale(100%);
  }
}
@keyframes cab {
  from{
    filter: opacity(0);
  }
  to{
    filter: opacity(1);
  }
}
@keyframes cabi {
  from{
    filter: opacity(0);
  }
  to{
    filter: opacity(1);
  }
}
