*{
  font-family: 'Nouvelb', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Nouvel";
  src: url(./material/fuentes/NouvelR-Book.otf);
}
@font-face {
  font-family: "Nouvelb";
  src: url(./material/fuentes/NouvelR-Bold.otf);
}
@font-face {
  font-family: "Nouvelxb";
  src: url(./material/fuentes/NouvelR-Extrabold.otf);
}

header{
  display: flex;
  position: fixed;
  top: 0px;
  flex-direction: row;
  height: 40px;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.menu img{
  width: 25px;
  height: auto;
  animation: menu 10s infinite;
  cursor: pointer;
  margin-left: 5px;
}
#desplegable{
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: -400px;
  top: 0px;
  background-color: black;
  z-index: 1;
  cursor: default;
  transition: 0.5s;
  padding-bottom: 5px;
}
#desplegable:target{
  box-shadow: 100vh 0px 1px 100vh rgba(0, 0, 0, 0.8);
  left: 0px;
}
.cierre{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cierre img{
  margin: 10px;
  height: 20px;
}
.gmap_canvas{
  overflow: hidden;
  background: none !important;
  width: 95%;
}
.redes{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center
}
.redes img{
  height: 30px;
  width: auto;
}
.nav2{
  display: none
}
.logo{
  margin: 3px;
  height: 80%;
}
.imgPresentacion{
  display: flex;
  justify-items: center;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  animation: cab 3s forwards;
}
.imgPresentacion1{
  display: flex;
  justify-items: center;
  margin: auto;
  margin-top: 40px;
  width: 100%;
  animation: cab 3s forwards;
}
.bajoCabecera{
  top: 40px;
  width: 100%;
  background-color: black;
  margin-bottom: 20px;
}
main{
  margin: 7%;
  display: grid;
  width: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 5%;
  row-gap: 20px;
}
article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
article h2{
  color: black
}
.valor{
  display: flex;
  justify-content: center;
}
.valor h3{
  margin: 0%;
}
main img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid;
  transition: 0.3s;
}
.accordion{
  width: 100%;
}
.accordion h2{
  color: black;
}
.wap img{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px black;
  animation: wap 2s infinite;
  transition: 0.2s;
}
.wap img:hover{
  filter: opacity(1);
  filter: saturate(1.5);
}
.mensajew{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 25px;
  right: 15px;
}
.mensaje{
  font-family: "Nouvelb";
  text-align: center;
  background-color: rgb(51, 204, 51);
  width: 200px;
  margin: 0px;
  border-radius: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 5px 2px black;
  animation: cabi 10s forwards;
  z-index: 0;
}
footer{
  position: relative;
  background-color: black;
  border: 15px solid black;
  height: auto;
  width: auto;
  text-align: center;
  z-index: 4;
}
h1{
  font-family: "Nouvelxb";
  font-size: 30px;
  color: white;
  text-align: center;
  animation: cab 4s forwards;
  line-height: 0.8;
  padding-bottom: 5px;
}
h2{
  font-family: "Nouvelxb";
  font-size: 25px;
  text-align: center;
}
h3{
    margin: 15px;
    margin-top: 0px;
}
h4{
  font-family: "Nouvelxb";
  font-size: 1rem;
  background-color: rgb(243, 222, 53);
  text-align: center;
  width: 95%;
  margin-bottom: 5px;
  margin-top: 20px;
}
ul{
  margin-top: 0px;
  line-height: 1.4;
}
a{
  color: white;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
}
a:hover{
  color: rgb(243, 222, 53);
}
a img{
  transition: 0.2s;
}
a img:hover{
  filter: opacity(0.5);
}
p{
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "nouvel";
}
@keyframes wap {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale(130%);
  }
  100%{
    transform: scale(100%);
  }
}
@keyframes cab {
  from{
    filter: opacity(0);
  }
  to{
    filter: opacity(1);
  }
}
@keyframes cabi {
  0%{
    filter: opacity(0);
  }
  90%{
    filter: opacity(0);
  }
  100%{
    filter: opacity(1);
  }
}
@keyframes menu {
  0%{
    transform: scale(100%);
  }
  80%{
    transform: scale(100%);
  }
  85%{
    transform: scale(80%);
  }
  90%{
    transform: scale(100%);
  }
  95%{
    transform: scale(80%);
  }
  100%{
    transform: scale(100%);
  }
}
@media (min-width: 685px) {
  main{
    margin: 2%;
  }
}
@media (min-width: 760px) {
  main{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5%;
    margin: 2%;
  }
  header{
    height: 50px;
  }
  .bajoCabecera{
    top: 50px;
    border-top: 1px solid white;
  }
  .imgPresentacion, .imgPresentacion1{
    margin-top: 50px;
    width: 70%
  }
  .imgPresentacion1{
    width: 100%
  }
  .nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
  }
  .logo1{
    margin-left: 5px;
    height: 80%;
  }
  #vehiculos, #redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -2000px;
    top: 50px;
    height: 60px;
    width: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    transition: 0.5s;
    border-bottom: 1px solid;
  }
  #ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    left: -2000px;
    top: 50px;
    height: 200px;
    width: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    transition: 0.5s;
    border-bottom: 1px solid;
  }
  #vehiculos:target, #ubicacion:target, #redes:target{
    left: 0px;
    top: 50px;
  }
  #redes img{
    height: 40px;
    width: auto;
  }
  #vehiculos img{
    height: 40px;
  }
  #cierre img{
    height: 20px;
  }
  .gmap_canvas{
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 50%;
    height: 100%;
  }
  nav{
    display: none;
  }
  .logo{
    display: none;
  }
}
@media (min-width: 950px) {
  main{
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    column-gap: 3%;
    margin: 2%;
  }
  header{
    height: 60px;
  }
  #vehiculos, #redes, #ubicacion{
    top: 60px;
  }
  #vehiculos:target, #redes:target, #ubicacion:target{
    top: 60px;
  }
  .imgPresentacion, .imgPresentacion1{
    margin-top: 60px;
    width: 60%
  }
  .imgPresentacion1{
    width: 100%
  }
}
